
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../essentials.ejs %>
</head>
<body>
<div id="page-loader">
    <div class="preloader preloader--xl preloader--light"> <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" />
        </svg> </div>
</div>



<!-- Header -->
<% include ../header.ejs %>
<section id="main">
    <% include ../sidebar.ejs %>

    <section id="content">

        <div class="content__header">

            <h2><a href="/dashboard">Home</a>


                <i class="zmdi zmdi-chevron-right"></i> <a href="/Project/List">Projects</a></h2>

        </div>




    </section>

    <!--start projects-->
    <div class="card">
        <div class="card__header">
            <h2>Projects <small>You may add a new project or edit an existing project below.</small></h2>
            <button class="btn btn-default btn--icon pull-right" onclick="javascript:location='/project/addproject';"><i class="zmdi zmdi-plus"></i></button>
        </div>
        <input type="hidden" id="success" value="<%= success %>">
        <div class="card__body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Developer</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>


                    <% for(var i=0;i<data.length;i++){ %>
                    <tr>
                        <td><%= data[i].projectName %></td>
                        <td><%= data[i].projectDeveloper %></td>
                        <td><%= data[i].projectStatus %></td>
                        <td><button class="btn btn--light" onclick="javascript:location='/project/edit/<%= data[i].projectId %>';"><i class="zmdi zmdi-edit"></i></button>
                            &nbsp;
                            <button class="btn btn--light" onclick="javascript:location='/project/photo/<%= data[i].projectId %>';"><i class="zmdi zmdi-image-alt"></i></button>
                            &nbsp;
                            <button class="btn btn--light"  onclick="javascript:location='/model/list?Id=<%= data[i].projectId %>&success=0';"><i class="zmdi zmdi-view-quilt"></i></button>
                            &nbsp;
                            <button class="btn btn--light"  onclick="deleteProject(<%= data[i].projectId%>)"> <i class="zmdi zmdi-delete"></i></button></td>
                    </tr>

                    <%} %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--end projects-->




</section>
<script>



    function deleteProject(projectId){
        swal({
            title: "Are you sure?",
            text: "You will not be able to undo this delete!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!"
        }).then(function(){
            location='/project/delete/'+projectId;
        });
    }

    $( document ).ready(function() {
        if($("#success").val()=="1"){
            $.notify({
                message: 'Settings saved successfully.'
            },{
                type: 'success'
            });
        }

    });



</script>

</body>
</html>