

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../essentials.ejs %>
    </head>
    <body>
    <div id="page-loader">
        <div class="preloader preloader--xl preloader--light"> <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" />
            </svg>
        </div>
    </div>



    <!-- Header -->
    <% include ../header.ejs %>
    <section id="main">
        <% include ../sidebar.ejs %>

        <section id="content">

            <div class="content__header">


                <h2><A href="home.htm">Home</A>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="/Project/List">PROJECTS</A>
                    <%if(modelId==0){%>

                    <i class="zmdi zmdi-chevron-right"></i> <A href="/Project/Edit/<%=  projectobject.projectId %>"><%= projectobject.projectName%></A>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="#">Photos</A>

                    <%}else{%>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="/Project/Edit/<%=  projectobj.projectId %>"><%= projectobj.projectName%></A>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="/Model/Model/<%= projectobj.projectId%>">Models</A>


                    <i class="zmdi zmdi-chevron-right"></i> <A href="/Model/Edit/<%= modelobject.modelId%>"><%= modelobject.modelName%></A>

                    <i class="zmdi zmdi-chevron-right"></i> <A href="#">Floorplans</A>
                    <%}%>

                    </h2>

            </div>

        </section>


            <div class="card">
                <div class="card__header">
                    <%if(modelId==0){%>
                    <h2>Project Photos <small>You may add or edit photos for this listing below.</small></h2>
                    <%}else{%>
                    <h2>Model Floorplans <small>You may add or edit floorplans for this model below.</small></h2>
                    <%}%>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="card widget-pictures col-md-12">
                            <div class="widget-pictures__body">

                                <% for(var i=0;i<data.length;i++){ %>
                                <a href="#" class="col-xs-2"> <img src="<%= data[i].fileName %>" alt="">
                                    <button class="btn btn--light" onclick="deletePicture(<%= data[i].photoId%>,<%= data[i].modelId%>)"><i class="zmdi zmdi-delete"></i></button>
                                </a>
                                <%}%>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/floorplan/photo/" method = "Post" enctype="multipart/form-data">
                            <input type="hidden" name="modelId" value="<%= modelId%>">
                            <input type="hidden" name="projectId" value="<%= projectId%>">
                            <div class="card__header">
                                <h2>Add Photo</h2>
                            </div>
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview" data-trigger="fileinput"></div>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> <span class="btn btn-default btn-file"> <span class="fileinput-new">Select image</span> <span class="fileinput-exists">Change</span>
        <input type="file" name="file" id="file">
        </span> </div>
                                <%if(modelId==0){%>
                                <p><em>Photos must be 600w x 600h or 600w x 1200h.</em></p>
                                <%}else{%>
                                <p><em>Floorplans may be a maximum of 1000px (w) and 1000px (h).</em></p>

                                <%}%>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="photoDescription" placeholder="Enter a description of the photo here..."></textarea>
                                    <i class="form-group__bar"></i> </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default" onclick="$('#page-loader').show();document.getElementById('addPicture').submit()">Upload</button>
                                <button type="button" class="btn btn-link" onclick="javascript:location='/project/photo/<%= projectId %>';">Cancel</button>
                            </div>
                    </form>
                </div>


            </div>
            </div>


    </section>

    <script language="javascript">
        var url = document.URL;
        var proid = url.substring(url.lastIndexOf('/') + 1);
        var text;
        if(url.indexOf("floorplan")!=-1){
            text="Images have to be either 1000w x 1000h (px) and must be .JPG format.";
        }else {
            text="Images have to be either 600w x 600h (px) or 600w x 1200h (px) and must be .JPG format.";
        }
        if(proid.indexOf("?")!=-1){
            var arr=proid.split('?');
            proid=arr[0];
            var errId=arr[1].split('=');
            if(errId[1]==1) {
                swal({
                    title: 'Image Not Accepted',
                    text: text,
                    type: 'warning',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'ok'
                })
            }
        }
        var prosection="";
        if(url.indexOf("project") != -1){
            prosection="success";
        }
        function deletePicture(photoId,modelId){
            swal({
                title: "Are you sure?",
                text: "This photo and any comments associated with this photo will be deleted!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!"
            }).then(function(){
                location='/floorplan/delete?photoId='+photoId+'&modelId='+modelId+'&prosection='+prosection+'&projectId='+proid;
            });
        }

    </script>

    </body>
    </html>