
<html>
<head>
    <% include ../essentials.ejs %>
</head>
<body>
<div id="page-loader">
    <div class="preloader preloader--xl preloader--light"> <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" />
        </svg> </div>
</div>



<!-- Header -->
<% include ../header.ejs %>
<section id="main">
    <% include ../sidebar.ejs %>

    <section id="content">

        <div class="content__header">


            <h2><A href="/dashboard">Home</A>
                <i class="zmdi zmdi-chevron-right"></i> <A href="/listing/list">Listings</A>
                <i class="zmdi zmdi-chevron-right"></i> <A href="#"><%= data.title %></A>
            </h2>

        </div>
    </section>


    <div class="card">
        <div class="card__header">
            <h2>Listing Information <small>Use the form below to edit the information associated with a specific listing.</small></h2>

            <button class="btn btn-default btn--icon pull-right" onclick="javascript:location='/listing/photo/<%= data.listing_id %>'"><i class="zmdi zmdi-image-alt"></i></button>


        </div>
        <form method="Post" id="editListing" action="/listing/edit">
            <input type="hidden" name="listingId" value="<%= data.listing_id  %>">
            <div class="card__body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Title *</label>
                            <input type="text" class="form-control input-mask" name="title" value="<%= data.title  %>" placeholder="eg: Beautiful estate on a quiet court">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>List Date *</label>
                            <input type="text" class="form-control input-mask" name="list_date" value="<%= data.list_date  %>" placeholder="eg: Jan 1, 2018">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>MLS #</label>
                            <input type="text" class="form-control input-mask" name="mls_id" value="<%= data.mls_id  %>" placeholder="eg: W123456">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control input-mask" name="address" value="<%= data.address  %>" placeholder="eg: 123 Main St.">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control input-mask" name="city" value="<%= data.city  %>" placeholder="eg: Brampton">
                            <i class="form-group__bar"></i> </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Classification</label>
                            <select class="select2" name="class_id">

                                <% for(var i=0;i<listingtypes.length;i++){ %>
                                <%if(data.class_id==listingtypes[i].class_id){%>
                                <option value ="<%= listingtypes[i].class_id%>" selected><%= listingtypes[i].name%></option>
                                <%}else{%>
                                  <option value ="<%= listingtypes[i].class_id%>" ><%= listingtypes[i].name%></option>
                                <%}}%>

                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Bedrooms</label>
                            <input type="text" class="form-control input-mask" name="bedrooms" value="<%= data.bedrooms  %>" placeholder="eg: 5">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Bathrooms</label>
                            <input type="text" class="form-control input-mask" name="bathrooms" value="<%= data.bathrooms  %>" placeholder="eg: 3">
                            <i class="form-group__bar"></i> </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Basement</label>
                            <select class="select2" name="basement_id">
                                <% for(var i=0;i<basementtypes.length;i++){ %>
                                <%if(data.basement_id==basementtypes[i].basement_id){%>
                                <option value ="<%= basementtypes[i].basement_id%>" selected ><%= basementtypes[i].basement_label%></option>
                                <%}else{%>
                                <option value ="<%= basementtypes[i].basement_id%>" ><%= basementtypes[i].basement_label%></option>
                                <%}}%>
                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Lot Width (ft)</label>
                            <input type="text" class="form-control input-mask" name="lot_width" value="<%= data.lot_width  %>" placeholder="eg: 50">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Lot Length (ft)</label>
                            <input type="text" class="form-control input-mask" name="lot_lenght" value="<%= data.lot_lenght  %>" placeholder="eg: 150">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Type</label>
                            <select class="select2" name="type_id">
                                <% for(var i=0;i<propertypes.length;i++){ %>
                                <%if(data.type_id==propertypes[i].type_id){%>
                                <option value ="<%= propertypes[i].type_id%>" selected ><%= propertypes[i].type_name%></option>
                                <%}else{%>
                                <option value ="<%= propertypes[i].type_id%>" ><%= propertypes[i].type_name%></option>
                                <%}}%>

                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>List Price</label>
                            <input type="text" class="form-control input-mask" name="price" value="<%= data.price  %>" placeholder="eg: $199,000">
                            <i class="form-group__bar"></i> </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Annual Taxes</label>
                            <input type="text" class="form-control input-mask" name="taxes" value="<%= data.taxes  %>" placeholder="eg: $4500">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Virtual Tour Link</label>
                            <input type="text" class="form-control input-mask" name="virtual_tour" value="<%= data.virtual_tour  %>" placeholder="eg: http://www.google.com">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="select2" name="list_status">
                                <%if(data.list_status==0){%>
                                <option value="0" SELECTED>For
                                    Sale</option>
                                <%}else{%>
                                <option value="0">For
                                    Sale</option>
                                <%}%>
                                <%if(data.list_status==1){%>
                                <option value="1" selected>Sold</option>
                                <%}else{%>
                                <option value="1" >Sold</option>
                                <%}%>
                                <%if(data.list_status==2){%>
                                <option value="2" selected>For Lease</option>
                                <%}else{%>
                                <option value="2" >For Lease</option>
                                <%}%>
                                <%if(data.list_status==3){%>
                                <option value="3" selected>Coming Soon</option>
                                <%}else{%>
                                <option value="3" >Coming Soon</option>
                                <%}%>
                                <%if(data.list_status==4){%>
                                <option value="4" selected>Leased</option>
                                <%}else{%>
                                <option value="4" >Leased</option>
                                <%}%>

                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                </div>

                <div class="row">

                    <div class="card__body">
                        <p>Description *</p>
                        <div class="form-group">
                            <textarea class="form-control" name="description" placeholder="Enter a description of the listing here..."><%= data.description  %></textarea>
                            <i class="form-group__bar"></i> </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Open House Date 1</label>
                            <input type="text" class="form-control input-mask" name="open_house" value="<%= data.open_house  %>" placeholder="eg: Jan 1, 2018">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Start Hour</label>
                            <select class="select2" name="open_house_start">
                                <% for(var i=1;i<=12;i++){%>
                                <%if(data.open_house_start==i){%>
                                <option value="<%= i %>" selected><%= i %></option>
                                <%}else{%>
                                <option value="<%= i %>"><%= i %></option>
                                <%}}%>
                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>End Hour</label>
                            <select class="select2" name="open_house_end">
                                <% for(var i=1;i<=12;i++){%>
                                <%if(data.open_house_end==i){%>
                                <option value="<%= i %>" selected><%= i %></option>
                                <%}else{%>
                                <option value="<%= i %>"><%= i %></option>
                                <%}}%>
                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Open House Date 2</label>
                            <input type="text" class="form-control input-mask" name="open_house2" value="<%= data.open_house2  %>" placeholder="eg: Jan 1, 2018">
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Start Hour</label>
                            <select class="select2" name="open_house_start2">
                                <% for(var i=1;i<=12;i++){%>
                                <%if(data.open_house_start2==i){%>
                                <option value="<%= i %>" selected><%= i %></option>
                                <%}else{%>
                                <option value="<%= i %>"><%= i %></option>
                                <%}}%>
                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>End Hour</label>
                            <select class="select2" name="open_house_end2">
                                <% for(var i=1;i<=12;i++){%>
                                <%if(data.open_house_end2==i){%>
                                <option value="<%= i %>" selected><%= i %></option>
                                <%}else{%>
                                <option value="<%= i %>"><%= i %></option>
                                <%}}%>
                            </select>
                            <i class="form-group__bar"></i> </div>
                    </div>

                </div>


                <div class="row">

                    <div class="card__footer">
                        <button class="btn btn-default" onclick="$('#page-loader').show();document.getElementById('editListing').submit()">Save</button>
                        <button type="button" class="btn btn-link" onclick="javascript:location='/listing/list';">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>




</section>
</body>
</html>