

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../essentials.ejs %>
    </head>
    <body>
    <div id="page-loader">
        <div class="preloader preloader--xl preloader--light"> <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" />
            </svg> </div>
    </div>



    <!-- Header -->
    <% include ../header.ejs %>
    <section id="main">
        <% include ../sidebar.ejs %>

        <section id="content">

            <div class="content__header">


                <h2><A href="home.htm">Home</A>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="/listing/list">Listings</A>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="/Listing/Edit/<%= listingObject.listing_id%>"><%= listingObject.title %></A>
                    <i class="zmdi zmdi-chevron-right"></i> <A href="#">Photos</A>
                    </h2>

            </div>




            <div class="card">
                <div class="card__header">
                    <h2>Listing Photos <small>You may add or edit photos for this listing below.</small></h2>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="card widget-pictures col-md-12">
                            <div class="widget-pictures__body">

                                <% for(var i=0;i<data.length;i++){ %>

                                <a href="#" class="col-xs-2"> <img src="<%= data[i].path %>" alt="">
                                    <button class="btn btn--light" onclick="deletePicture(<%= data[i].picture_id%>)"><i class="zmdi zmdi-delete"></i></button>
                                </a>
                                <%}%>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="addPicture" action="/Listing/Photo/" method = "Post" enctype="multipart/form-data">

                            <input type="hidden" name="listingId" value="<%= listingObject.listing_id %>">



                            <div class="card__header">
                                <h2>Add Photo</h2>
                            </div>
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview" data-trigger="fileinput"></div>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> <span class="btn btn-default btn-file"> <span class="fileinput-new">Select image</span> <span class="fileinput-exists">Change</span>
        <input type="file" name="file">
        </span> </div>
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn-default" onclick="$('#page-loader').show();document.getElementById('addPicture').submit()">Upload</button>
                                <button type="button" class="btn btn-link" onclick="javascript:location='/listing/photo/<%= listingObject.listing_id%>';">Cancel</button>
                            </div>

                    </form>
                </div>
            </div>
            </div>

        </section>
    </section>

    <script language="javascript">
        var url = window.location.pathname;
        var url1 = document.URL;
        var listId = url1.substring(url1.lastIndexOf('/') + 1);
        function deletePicture(photoId){
            swal({
                title: "Are you sure?",
                text: "This photo and any comments associated with this photo will be deleted!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!"
            }).then(function(){
                location='/listing/delete?photoId='+photoId+'&listId='+listId;
            });
        }
    </script>

    </body>
    </html>