
<html>
<head>
    <% include ../../essentials.ejs %>
</head>
<body>
<div id="page-loader">
    <div class="preloader preloader--xl preloader--light"> <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" />
        </svg> </div>
</div>



<!-- Header -->
<% include ../../header.ejs %>
<section id="main">
    <% include ../../sidebar.ejs %>

    <section id="content">

        <div class="content__header">


            <h2><A href="/dashboard">Home</A>


                <i class="zmdi zmdi-chevron-right"></i> <A href="/project/list">Projects</A>
                <% for(var i=0;i<projectList.length;i++){ %>
                <% if(projectList[i].projectId== projectNewId){%>
                <i class="zmdi zmdi-chevron-right"></i> <A href="/project/edit/<%=  projectNewId %>"><%=projectList[i].projectName%></A>
                <%}}%>
                <i class="zmdi zmdi-chevron-right"></i> <A href="#">Models</A>
            </h2>





        </div>
    </section>

        <div class="card">
            <div class="card__header">
                <h2>Model Information <small>Use the form below to edit the information associated with a specific model.</small></h2>

            </div>
            <form method="Post" id="editModel" action="/Model/Add">

                <input type="hidden" name="modelId" value="">
                <div class="card__body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Model Name</label>
                                <input type="text" class="form-control input-mask" name="modelName" value="" placeholder="eg: The Pad">
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Project</label>
                                <select class="select2" name="projectId">
                                    <% for(var i=0;i<projectList.length;i++){ %>
                                    <% if(projectList[i].projectId=== projectNewId){%>
                                    <option value="<%= projectList[i].projectId %>" selected ><%= projectList[i].projectName %></option>
                                    <% }else {%>

                                    <option value="<%= projectList[i].projectId %>" ><%= projectList[i].projectName %></option>
                                    <% }%>
                                    <% } %>
                                </select>
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Size (SqFt)</label>
                                <input type="text" class="form-control input-mask" name="modelSqFt" value="" placeholder="eg: 550">
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Starting Price</label>
                                <input type="text" class="form-control input-mask" name="modelPrice" value="" placeholder="eg: $199,000">
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bedrooms</label>
                                <input type="text" class="form-control input-mask" name="modelBeds" value="" placeholder="eg: 2">
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bathrooms</label>
                                <input type="text" class="form-control input-mask" name="modelBaths" value="" placeholder="eg: 1.5">
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Floors</label>
                                <input type="text" class="form-control input-mask" name="modelFloors" value="" placeholder="eg: 5,6,7,10,20">
                                <i class="form-group__bar"></i> </div>
                        </div>
                        <div class="card__footer">
                            <button class="btn btn-default" onclick="$('#page-loader').show();document.getElementById('editModel').submit()">Save</button>
                            <button type="button" class="btn btn-link" onclick="javascript:location='/model/list?Id=<%= projectNewId%>&success=0';">Cancel</button>
                        </div>
                    </div>
                </div>
        </form>


        </div>
        <!--end models-->





</section>
</body>
</html>